[2019-07-10 14:57] unaizorrilla opened #6 "Improve or add new features into HTTP API"
Improve HTTP API

- [x] Set NotFound instead of BadRequest on Product/Flags update or delete resources.
- [x] Tags need a new method for show existing tags on some Product.
- [x] Products GET need a filter for existing tags.

[2019-07-10 15:00] unaizorrilla opened #7 "Document Esquio behaviors"
At this moment, Esquio ErrorBehavior and NotFoundBehavior is not on our docs. Add description for this enumerations and also a sample of use.

[2019-07-10 15:05] unaizorrilla opened #8 "Review FeatureTagHelper"
Our Feature tag helper define 3 different properties Names, Include and Exclude. There is no difference between Names and Include, probably wiht Include and Exclude is enought.

[2019-07-12 08:24] unaizorrilla opened #11 "Design Measure / Tracking API"
We need to design measure / tracking feature toggle execution API in order to get statistics about feature / toggle activations.

- This API need to be async

- With the feature / toggle information user/app can also send a payload. On ASP.NET Core Request information will be this extra payload.

- On ASP.NET Core Request dataq can be the extra payload.

- UI will add new dashboards to show overal

[2019-07-13 15:21] lfraile opened #13 "Tracking and Measure Features"
Tracking is a fundamental issue in toggles, may it be used to track experiments malfunctions or track usage.

Esquio should be able to track features usage, per session and track possible exceptions derived from features  so it can offer usage and exceptions related to toggles.

[2019-07-15 09:07] unaizorrilla opened #14 "Consider move azure devops extensions overview doc files"
Hi @lfraile

AzureDevOps extensions overview is not included on our docs directory, used by ReadTheDocs!, can you consider moving the overview.md into doc folder or create a new walkthrought on this topic?

Thanks

[2019-07-15 09:09] unaizorrilla commented on #13
Follow #11

[2019-07-15 09:09] #13 closed

[2019-07-15 16:52] lfraile commented on #14
I will create a new walkthrough. Can't change the file (think so) due to extension packaging

[2019-07-19 06:52] lurumad opened #16 "Add change to features"
Esquio needs to keep a list of changes of all features in order to have a change log page.

[2019-07-24 09:25] unaizorrilla opened #17 "Support for custom assembly toggles on UI"
KownTypes toggles on UI only work with Esquio assembly, we need to include custom assemblies to scan and work on the UI.

[2019-09-07 17:31] lurumad commented on #16
Done #21

[2019-09-07 17:31] #16 closed

[2019-09-07 17:34] lurumad commented on #17
Hi @unaizorrilla

Can you explain this a bit more?

Regards!

[2019-09-09 21:18] unaizorrilla commented on #17
Yeap!

We need to validate how add custom toggles to UI project and review if pre-defined components for each toggle parameter type works well.

We can use existing custom toggles on Esquio.Contrib and create a demo script ( similar to demos/AppWithUI but with custom toggles).

[2019-09-09 21:19] unaizorrilla commented on #11
A this moment  we have a DiagnosticListener to observe different Esquio events, probably we can use this extensibility point to add information into the TelemetryClient using Processors or something like that.
@lfraile , can you take a look on this issue?

[2019-09-09 21:20] unaizorrilla commented on #7
@lurumad can you take a look on this?

[2019-09-12 09:15] JorTurFer opened #27 "Error using Build.ps1"
If you follow the readme for build:
![image](https://user-images.githubusercontent.com/36899226/64765777-10091080-d545-11e9-837b-6fb9ebeb5844.png)

The build fails:
![image](https://user-images.githubusercontent.com/36899226/64765817-22834a00-d545-11e9-9b20-1d8d857d6c97.png)

This is becouse the script create suffix like `ci-local-d802adc` and when the command concat it, the result is like `1.0.0c

[2019-09-12 09:44] JorTurFer opened #29 "Missed build.sh"
The file build.sh is not in the repo

[2019-09-12 15:23] #27 closed, assigned to nobody

[2019-09-15 16:13] #29 closed

[2019-09-18 10:05] unaizorrilla opened #35 "Consider remove OnToggle and OffToggle"
At this moment we have Enabled property on Feature definition. With this property we can do the same scenarios that On and Off toggle solve.

[2019-09-18 10:10] unaizorrilla opened #36 "ASP.NET Core Endpoint Fallback fine grain"
At this moment, EndpointFallback behavior is configured for all endpoints, but is some scenarios may be necessary configure different fallback behaviors ( not found, redirect to, etc ) for each configured endpoint.

After feedback session we extract more information about this issue:

 - Added contextual information with the RequestDelegate like endpoint name, route or something similar.
 - Create

[2019-09-18 10:16] unaizorrilla opened #37 "Hard dependency on StoreContext"
At this moment, our configuration store based on EntityFrameworkCore introduce a hard dependency on StoreContext. If some user need extend this context to introduce new entities, properties etc need inherit from StoreContext. *Extensibility with inheritance is not a good idea*.

ASP.NET Core Identity solve this problem well and probably we can do the same technique!!

[2019-09-18 10:18] unaizorrilla opened #38 "Redis Configuration Store"
Consider adding a new configuration store based on Redis Cache

[2019-09-18 10:22] unaizorrilla opened #39 "Improve documentation and Overview Slides"
We need to improve our documentation and overview slides to include missing topics.

 - Diagnostics / Performance Counters are not included on our docs and overview slides.
 - Azure DevOps task topic is not included on overview slides.

[2019-09-18 10:25] unaizorrilla opened #40 "NotFound behavior"
Consider adding new behavior for NotFound feature scenario with Throw. This could make sense on development to ensure configuration data.

[2019-09-18 10:27] #11 closed

[2019-09-20 07:50] unaizorrilla opened #42 "Improve UI with Api Key Management"
At this moment, UI can only recover a new Api Key from the store, to be used on integration pipelines like Azure DevOps tasks, but is not possible set the name , expiration time, and managing created Api Keys.

We need to improve the UI and include all necessary to maintain Api Keys!

[2019-09-20 12:12] unaizorrilla commented on #35
Closed 12cf65c41fa4702cfb3ce3507e58ac2e87de07eb

[2019-09-20 12:12] #35 closed

[2019-09-24 13:22] #7 closed

[2019-09-24 14:02] unaizorrilla commented on #7
https://esquio.readthedocs.io/en/latest/feature/behaviors.html

[2019-09-25 18:10] 3lcarry opened #47 "Improve tokenization"
On the scenarios where all your feature toggle are by username enable to the 50%, always the same users has them enable. Add the possibility to use the username + the feature name to randomize the users per feature.

[2019-09-27 09:33] unaizorrilla commented on #47
Hi @3lcarry

Your question is about add entropy to the partitioner to avoid have the same result for all features using the partitioner for the same value ( ie, username )?

[2019-09-27 09:35] unaizorrilla opened #49 "Make the partitioner plugable"
At this momment our partitioner is not plugable and can't be replaced if the behavior don't fit for some customer.

Making the partitioner plugable is not hard and will be a good extension point for Esquio

[2019-09-27 09:39] unaizorrilla opened #50 "Implement HeaderValueToggle"
At this momment we have GradualRolloutHeaderValueToggle but not HeaderValueToggle. Some toogles like Location can be improved using the Header value added by some cloud providers, gateways.

[2019-09-27 11:44] unaizorrilla commented on #49
Closed by a5b37ee250c5ce30e329f24f2a5cad9062f57aa7

[2019-09-27 11:44] #49 closed

[2019-09-27 19:36] unaizorrilla commented on #50
Commited on #52 , pending on code review!

[2019-10-01 10:01] #50 closed

[2019-10-01 10:01] #39 closed

[2019-10-03 08:49] unaizorrilla opened #56 "EsquioMiddleware is not honoring ErrorBehavior"
At this moment, the EsquioMiddleware is not honoring the ErrorBehavior configuration that we can do when configure Esquio on Asp.Net Core apps.

[2019-10-03 08:52] unaizorrilla opened #57 "Remove Newtonsoft dependency for Esquio.AspNetCore"
At this moment, EsquioMiddleware use Newtonsoft for Json serialization, we can remove this unnecesary dependency.

[2019-10-04 09:26] #56 closed

[2019-10-04 09:26] #57 closed

[2019-10-09 20:51] unaizorrilla opened #63 "Custom toggle type fully qualification"
At this moment, the UI does not save the assembly name as part of type information,  when the feature service is executed, if not assembly name is specified, solve types does not work well.

[2019-10-11 13:53] Meir017 opened #64 "Docs site link"
Please add the docs site link to the repository description

So isntead of

Esquio is a Feature Toggle Library for .NET Developers.

It would be

Esquio is a Feature Toggle Library for .NET Developers https://esquio.readthedocs.io

[2019-10-14 13:27] unaizorrilla commented on #64
Closed on your PR #65

[2019-10-14 13:27] #64 closed

[2019-10-14 13:28] #63 closed

[2019-10-19 10:01] unaizorrilla commented on #47
done

[2019-10-19 10:01] #47 closed

[2019-10-19 10:02] #8 closed

[2019-10-19 10:43] lfraile opened #66 "Reconfigure EsquioUI docker image release"
Review docker EsquioUI container build and release

[2019-10-19 10:46] lfraile opened #67 "Reconfigure Esquio Demo App release"
It should release demo app from repository and publish it in private azure registry.

EsquioUI docker image will take latest tag from DockerHub

[2019-10-19 10:48] #66 closed

[2019-10-19 11:07] #67 closed

[2019-10-29 07:22] sdiachen commented on #37
Hi @unaizorrilla,
I've found this issue looking for options/plans to decouple Esquio.UI from EF store.
Is this issue a good place to state the problem and propose/discuss solutions?

[2019-10-29 16:14] unaizorrilla commented on #37
Hi Sergii

Yeap, we can open discussion here. This issue is a feedback response from some MICROSOFT guy. The basic idea is similar that Asp.Net Identity already implement, you don’t need to use inheritance to create a custom store for identity, with composition is enough!!

Thanks for starting this discussion!!

Enviado desde mi iPhone

El 29 oct 2019, a las 8:22, Sergii Diachenko <notifications@g

[2019-10-30 07:12] sdiachen commented on #37
Cool,

So long story short I've been looking for Feature Toggle/Feature Management solution for some time. And found you, courtesy of Andrew Lock's [post](https://andrewlock.net/alternatives-to-microsoft-featuremanagement/).

I find Esquio neat library because I can start small with `appsettings.json` store and later on the transition to EF store and UI management once need arises. Huge thank you

[2019-11-02 22:24] unaizorrilla opened #74 "Slug slug"
Well,

We receive a lot of feedback about why not the HTTP API use slug for all items ( products, features etc ). At this moment, the HTTP API is based on resource id's and this experience is not the best for some scenarios like Azure DevOps Task, Esquio CLI etc..

For Esquio 2 we need to consider using slug on our HTTP API.

[2019-11-05 17:35] andresrsanchez commented on #37
Hi!

I'm a little confuse with this issue, the thing is about Esquio.UI and custom stores, about the extensibility of StoreContext or about the entire thing (Data model, Manager, Store)?

Thanks!

[2019-11-19 16:49] unaizorrilla opened #75 "ClientId should be parametrizable on Esquio.UI"
At this momment Esquio UI use settings controller to get information about configured Authority and Audience parameter values used on authorization flow but ClientId is a magic string :-(

https://github.com/Xabaril/Esquio/blob/ac10b034df000b04b0c120d24aac251a765b661d/src/Esquio.UI/ClientApp/src/app/shared/auth/auth.service.ts#L23

[2019-11-24 10:35] unaizorrilla commented on #75
Commited

[2019-11-24 10:35] #75 closed

[2019-11-26 20:54] unaizorrilla commented on #74
Commited on esquio-2.o branch

[2019-11-26 20:54] #74 closed

[2019-11-26 21:25] unaizorrilla opened #76 "Esquio UI CORS settings"
At this moment, CORS is not enabled on Esquio UI, we need enable it and expose a simple way to configure it directly or from environment variables for docker deployments

[2020-01-07 11:32] #40 closed

[2020-01-20 12:45] #42 closed

[2020-01-20 12:45] #6 closed

[2020-01-20 12:48] Xabaril opened #86 "Improve Toggle executions"
At this moment, the base contract for IToggle depends on IRuntimeFeatureStore to get all the configuration data from the store. This is a hard dependency for implementors and also imply many store queries for each feature.
DefaultFeatureService do this query and can get all the execution context to check if toggle is active or not.

The proposal is create a new abstraction like ToggleExecutionCont

[2020-01-20 12:50] Xabaril opened #87 "Remove Product parameter from IFeatureService"
Product parameter is configured on AddEsquio and for us there is no sense to use different product names on the sample application. The proposal is removed all productName parameter options on different services and use default configured value on EsquioOptions.

[2020-01-27 09:25] unaizorrilla opened #88 "Archive Feature"
After feature flag is tested or released to some ring, users etc this will be enabled or disabled for all rings, users etc. At this moment we have Rollout and Rolloff options to set a feature enabled or disabled for all conditions, but this continue to be showed on the UI.

Adding archive flag to Feature enable us to decide if the feature is managed by the UI or is intented to be archived and remo

[2020-02-07 10:18] risogolo opened #89 "How do I initialize DB"
Trying to get empty DB tables created with Esquio.EntityFrameworkCore.Store
I'm unable to do it, It seems to be created when I use that Esquio.UI, but I might dont want to use it
Is it possible to automaticaly create DB if it does not exist, therefore I can use sql script or use EF migrations to insert data there

[code]

[2020-02-07 10:48] unaizorrilla commented on #89
Hi @risogolo

Esquio UI, the free admin tool to manage Esquio products/features/toggles, initialize and migrate database to latest version. You can view migrate and seed on:

https://github.com/Xabaril/Esquio/blob/3edb71d683df4a4ba522e38f0ecebb1927ec768c/src/Esquio.UI/Program.cs#L14

This MigrateDbContext Extension method do migration and seed (if exist)

https://github.com/Xabaril/Esquio/blob/mas

[2020-02-10 07:21] risogolo commented on #89
Hello, thank for you response, I guess that method should exist in the libray itself or in the library for SqlStore, not it in Esquio.UI, also if you are planning to change that please do also DB schema name configurable, thank  you very much

[2020-02-10 10:17] unaizorrilla commented on #89
Hi risogolo!

Yeap, on V3 we are working on it, and probably, the store will be only for configuration and distributed ( to UI using http api ) because this enable distributed scenarios and also some multi-tenancy.

On 2.2 you can use StoreOptions to configure DefaultSchema and Table Names

https://github.com/Xabaril/Esquio/blob/master/src/Esquio.EntityFrameworkCore.Store/Options/StoreOptions.cs

[2020-02-10 10:23] lurumad commented on #89
Hi @risogolo

You can configure it using StoreOptions:

[code]

Regards!

[2020-02-10 11:17] risogolo commented on #89
this is when you set which schema to read from, but If I understand this correcly currently the db tables are created only from UI project and there is no option to name the schema for creation.

[2020-02-18 13:58] tiesmaster opened #90 "AddConfigurationStore() is missing when following the "Getting Started" guide"
I was trying to get started with Esquio, however, when following the [Getting Started guide](https://esquio.readthedocs.io/en/latest/started/aspnetcore.html) for ASP.NET Core, I got compilation errors on the `.AddConfigurationStore()` bit.

Turns out you also need to pull in the `Esquio.Configuration.Store` package, which defines this extension method. Is there a dependency missing on the "meta pa

[2020-02-18 14:28] lurumad commented on #90
Hi @tiesmaster

You are right! We need to update the docs.

Regards!

[2020-02-18 18:03] tiesmaster commented on #90
That was fast 😅 Very nice :)

[2020-02-24 15:17] #90 closed

[2020-03-30 15:22] unaizorrilla commented on #89
Yeap, I hope Esquio 3, we are planing to release in May solve this issue and improve the experience with this!

[2020-04-26 12:57] #88 closed

[2020-04-26 12:57] #87 closed

[2020-04-26 12:57] #86 closed

[2020-04-26 13:02] unaizorrilla commented on #37
Hi all!

On Esquio 3 we remove the EF configuration store and introduce a new Http Store! The main reasons for that are:

 - Access to database is not always allowed for different clients
 - Directly access to a database imply some security concerns that be avoid

New store ( HTTP Store ) use http requests to get feature informartion with api-key, this api-key can be readonly and restrict perform

[2020-04-26 13:02] #37 closed

[2020-04-26 13:05] unaizorrilla opened #101 "GitHub actions for Esquio"
Create and improve Github actions for Esquio 3 including new  features like Archive features! Added convenient docs for new/modified actions

[2020-04-26 13:08] unaizorrilla opened #102 "Include Ring option for toggle values"
Include Ring option spec for allow different toggle values depending on actual Ring, the idea is tests different environments, deploys with different feature parametrization.

[2020-04-26 13:08] #102 closed

[2020-04-26 13:11] unaizorrilla opened #103 "HTTP Store"
Add a new store, and probably remove db store, that allow get feature/toggle information using http request to Esquio UI. This allow clientes to get with features but without access to configuration database, and reduce some security concerns related with direct access to configuration db and also multi-tenants apps.
Some interesting features of this store will be:

 - Allow caching support using

[2020-04-26 13:11] #103 closed

[2020-04-26 13:15] unaizorrilla opened #104 "Contrib toggles on Esquio Core"
A lot of current Esquio.Contrib toggles can work on different scenarios and not depends on external services.  Probably we can include this toggles directly on AspNetCore out-of-box !

[2020-04-26 13:15] #104 closed

[2020-04-26 13:18] unaizorrilla opened #105 "Blazor Wasm component"
New Blazor Client Wasm hosted on ASP.NET Core is a perfect model to use Esquio Client Endpoint, we can include a new library to allow use this ClientEndpoint:

 - Adding a new component to filter UI, similar to FeatureTagHelper but on Blazor Razor
-  Add extension method on ServiceCollection to configure Esquio Client endpoint

[2020-04-26 13:18] #105 closed

[2020-04-26 13:25] unaizorrilla opened #106 "New Esquio UI"
Due to the amount of new features for Esquio 3 and the GA of Blazor Wasm on 2020 Q2 we decide to create a new and awesome. We try to

- Improve design
- Improve usability
- Implement new features of Esquio UI
- Simplify Permissions and Authorization
- Show Esquio insights

[2020-04-26 16:25] unaizorrilla opened #107 "Cleanup csprojs reducing common properties"
Cleanup csproj, basically:

 - Reduce common propertoes on csproj using dependencies.props
-  Move source link package to Directory.Build.props

[2020-04-29 17:29] #107 closed

[2020-04-29 17:29] #101 closed

[2020-04-30 07:16] risogolo opened #111 "ClaimValueToggle only first claim"
I think ClaimValueToggle only evaluates only first apperance of the claim of the same type.
For example I have claims collection on http context containing claim of type Role with value "Role1" an claim of type Role with value "Role2", I guess it searches only for the firstone, but I have an user assigned to multiple roles so I have multiple claims of type Role assigned in http context

[2020-04-30 10:06] unaizorrilla commented on #111
Hi @risogolo

Thanks for fill the issue! After some review, I agree that this is a bug and toggle will check all claim values from some type.

I will try to fix this on Esquio 2 (current version) and also manage on Esquio 3, we are working hard to release the new version on this month!

I try to fix the issue

[2020-04-30 11:38] unaizorrilla opened #112 "ClaimValueToggle honor all claims"
At this moment, ClaimValue is not honoring all claims of the same type on Identity claims and only evaluate first claim.
This fix is reported on Esquio V2 #111 and is fixed on V2 but we need to fix also on V3

[2020-04-30 11:48] unaizorrilla commented on #111
Hi @risogolo

A new package with version 2.0.4 will be available on nuget and this will solve the issue. I created a simple test to cover this and all is working

https://github.com/Xabaril/Esquio/blob/37a829b83b56b2c331e544b07986103e4e51e70f/tests/UnitTests/Esquio.AspNetCore/Toggles/ClaimValueToggleTests.cs#L63

Please close the issue if new package solve the issue!

[2020-04-30 12:47] risogolo commented on #111
Thank you very much for your quick reposne and for this nice library , I confirm that works for me

[2020-04-30 12:47] #111 closed

[2020-04-30 13:21] #112 closed

[2020-05-01 21:14] unaizorrilla opened #114 "Improve Esquio client endpoint"

[2020-05-01 21:15] #114 closed

[2020-05-01 21:22] unaizorrilla opened #115 "Improve Esquio client endpoint"
At this moment, Esquio client endpoint, only Support request state of single feature. Will be interesting to add more features like:

- allow query multiple features
- allow get all configured features

We discuss on allow mark some features as client features in order to help the client endpoint.

[2020-05-03 09:35] unaizorrilla commented on #89
Already pushed on Esquio 3!  Preview version are on NuGet right now!

[2020-05-03 09:35] #89 closed

[2020-05-03 09:57] unaizorrilla opened #117 "Upgrade Blazor to RC1"
Upgrade blazor references (Esquio UI and Esquio.Blazor.Wasm ) to RC1 version

[2020-05-03 09:58] unaizorrilla commented on #76
Hi @lurumad

Can you contribute on this issue?

[2020-05-03 10:23] unaizorrilla commented on #117
Fixed on e4691c5b459f6b8e1b3ed136a312cae261fe0832

[2020-05-03 10:23] #117 closed

[2020-05-12 19:38] jmezach opened #124 "Docs on running Esquio UI in Docker"
Are there any docs yet on how to run the Esquio UI in Docker? I can start it just fine, but I'm not able to login, probably because there's no database configured. Not sure how to configure that though, or even what my options are storing the database?

[2020-05-13 07:25] unaizorrilla commented on #124
Hi @jmezach

There are some environment variables to configure

-e ConnectionStrings__Esquio=[your sql server connection string]
-e Security__OpenId__Authority=[your authority, for example https://demo.identityserver.io]
-e Security__OpenId__ClientId=[your client id]
-e Security__OpenId__ResponseType=[your openid flow response type to use, for example code]
-e Security__OpenId__Audience=[your secu

[2020-05-13 21:17] #106 closed

[2020-05-14 06:47] jmezach commented on #124
Thanks @unaizorrilla, that helped. I've managed to run Esquio UI with docker-compose locally and it works great. Definitely a good idea to add this to the docs so that people can get started quickly.

[2020-05-18 07:21] #124 closed

[2020-05-19 10:53] unaizorrilla commented on #76
Done!

[2020-05-19 10:53] #76 closed

[2020-05-21 07:40] unaizorrilla commented on #115
We fixed to get multiple features from the endpoint!

[2020-05-21 07:40] #115 closed

[2020-05-27 20:37] suddenelfilio opened #129 "Why netstandard 2.1 ?"
Is there a specific reason that you only started targetting from netstandard 2.1 effectivly limiting this to .net core 3.x? Most of your dependecies support netstandard 2.0 which keeps them open for a broader spectrum of consumers (even in the full .net framework via 4.8). I understand that you would like the UI and api to be run as .net core 3.x apps, but maybe a client could allow for a more rel

[2020-05-28 08:03] unaizorrilla commented on #129
Hi @suddenelfilio

Thanks for fill this issue!

Esquio is created with diagnostics / observability  from the begining with log, perf counters and EventSource. This come from System.Diagnostic.Trace and this is .netstandard2.1 so, this is limiting going down to 2.0,

[2020-05-28 08:16] suddenelfilio commented on #129
aha I see :-)

[2020-05-28 08:16] #129 closed

[2020-06-15 23:48] modesto opened #131 "Inconsistent behavior adding and editing products"
I have found two abnormal behaviors related to products page.

1) There is some kind of validation inconsistency with the "New product" modal window. "Save changes" button is being enabled even when validations are invalid. It occurs when I leave name or description fileds untouched.

2) I can edit product's description and leave it empty, saving correctly.

Here is an animated gif that shows it:

[2020-06-16 07:41] unaizorrilla opened #132 "Use features to conditionally register services"
Add new IServiceCollection extensions to enable services depending on feature state, is like a factory but with some sugar to simplify developers code

[2020-06-16 07:43] unaizorrilla opened #133 "Hot reload Esquio default parameters"
Essquio register default parameters like product name or deployment on AddEsquio method, this parameters can't be modified at this moment and could be interesting allow hot reload this information.

[2020-06-16 07:45] unaizorrilla opened #134 "Export/Import product configuration"
In some scenarios could be interesting allow export/import configuration from/to Esquio UI to Json settings

[2020-06-18 17:31] gkfischer opened #135 "How can one setp the schema for the database"
In https://github.com/Xabaril/Esquio/issues/89 it is mentioned that the schema can be set by some option in V3, but I can't figure out how to do that. Could someone help me out here please?

[2020-06-22 08:51] unaizorrilla commented on #135
Hi @gkfischer

Let me check to show a guidance about this! I'm not sure all is working100% with migrations!

[2020-06-22 09:15] unaizorrilla opened #136 "Improve StoreOptions use"
Improve StoreOptions use to simplify change schemas, table etc without ceremony.

Started with #135

[2020-06-22 14:44] Kronos11 opened #137 "Generic Database Store?"
It would be extremely helpful if all of the Entity Store logic was separated out and one could simply add in the Entity Framework provider of your choice, for example npgsql or a mysql provider. This would allow me to use the UI without any work whatsoever.

[2020-06-22 14:46] unaizorrilla commented on #137
Yeap, agree !!

We have this on our roadmap, but this time we are so busy :( A PR is welcome if you want, if not we try to do a soon as posible!

[2020-06-23 11:01] gkfischer commented on #135
Thanks, I can manage with the migration update in the meantime

[2020-06-25 23:45] Kronos11 commented on #137
I'm willing to take a crack at this tomorrow I have some time.
What is the general approach you were thinking?
Create different projects for the different db providers? and have separate migrations for each?
I see need to have a script that would handle the migrations in that case.

Maybe allow the user to setup their own Factory to create the DbContext and allow them to put whatever they want as

[2020-06-26 07:19] unaizorrilla commented on #137
Well, the aproach could be some like

 - Create diferent dbcontext  for each database provider, A for Sql Server B:A for postgress
 - Use the factory to register the specified context depending on some configuration, AddDbcontext<A> and AddDbcontext<A,B> for postgress
  - Put the migrations on Infrastructure/Data/Migrations/A and Infrastructure/Data/Migrations/B

Look ok?

[2020-06-26 14:40] Kronos11 commented on #137
Sounds good, so each time there is a new db provider we will need to add a new project?

[2020-07-03 10:41] unaizorrilla commented on #131
Fixed on features/esquio31 will be available on next Esquio minor version

[2020-07-03 10:41] #131 closed

[2020-07-03 10:42] unaizorrilla commented on #132
Fixed on features/esquio31 and will be available on Esquio 3.1

[code]

[2020-07-03 10:42] #132 closed

[2020-07-07 14:45] gkfischer opened #140 "IsEnabledAsync for specific product and environments"
Environments are a new addition I'm realy hapy about, but it seems there is still a lack of possibilities to acutally use them, or I can't once again figure out how to use them properly.

The IFeatureService interface only defines
[code]
but no
[code]
Am I missing something, or asked otherwise: how can I make use of the environment feature when I want to get the status of a feature?

[2020-07-07 14:52] unaizorrilla commented on #140
Hi @gkfischer

The IFeatureService internally use the configured product name when you use AddEsquio extension method, you don't need to specify this on every call. If you need a feature enabled or not depending on ASP.NET CORE Environment Variable you can use the [HostEnvironmentToggle](https://github.com/Xabaril/Esquio/blob/master/src/Esquio.AspNetCore/Toggles/HostEnvironmentToggle.cs) for that!

[2020-07-08 12:54] unaizorrilla commented on #132
After a review on this feature we decide to remove from 3.1!

Adding services to container and blocking with IFeatureService.IsEnabledAsync could be a performance problem. And this scenario will be solved easly with a factory!

We try to add a sample of this scenario but remove this Add extension method!!

[2020-07-08 14:34] unaizorrilla opened #142 "Upgrade dependencies, SDK and runtime versions"
For Esquio 3.1 we need to update package dependencies and move to new SDK versions and .NET Core runtimes, this include next steeps:

- [x] Update global.json
- [x] Update GitHub actions Net Core task version
- [x] Update Docker files and composes
- [x] Update dependencies.props

[2020-07-08 14:34] #142 closed

[2020-07-08 14:37] unaizorrilla commented on #136
Moved to Esquio 4 because we are working on multiple stores and we address this issue at same time!

[2020-07-10 11:54] gkfischer commented on #140
Thanks, that pointed me in the right direction. I think I found a bug regarding toggle parameters of non default deployments along the way, but I'll open another issue for that.

[2020-07-10 11:54] #140 closed

[2020-07-10 12:09] gkfischer opened #144 "Toggle parameters missing for non default delpoyments in DetailsConfigurationRequestHandler.cs"
I added a ClaimValueToggle to a feature 'TechnicalAdministration' for a deployment named 'Dev' in product 'RCM' with parameter key 'Role' and value 'Admin'. But although the specified claim is present in the users tokens, the evalation of the feature always returned false and an exception like this was logged:
[code]

After quite a bit of investigating things I discovered the following code block

[2020-07-10 12:45] unaizorrilla commented on #144
Hi @gkfischer

Let me check this!

[2020-07-10 13:29] gkfischer commented on #144
Yes the claim is configured properly, and was working with the previous version of Esquio. And it does work with my suggested change/fix. So it has to be there :-)

[2020-07-10 13:32] unaizorrilla commented on #144
Ok let me check and fix

[2020-07-10 14:02] unaizorrilla commented on #144
Hi @gkfischer

I can't reproduce the issue, i follow next steps and all is working fine:

 - On Esquio UI create a new product myproduct
 - On Esquio UI create a new deployment production
 - On Esquio UI  create a new feature (MatchScore) with enabled production deployment
 - On Esquio UI create a new toggle IdentityClaimValue with this config

![image](https://user-images.githubusercontent.com/16

[2020-07-10 14:17] unaizorrilla commented on #144
This is not true, the behavior is , by default all configured parameters on default deployment ( Tests ) are included and if this environment ( production ) override some value modify it!

[2020-07-10 14:25] gkfischer commented on #144
I am using the Http.Store to connect to a running instance of the API. Maybe that's the difference. I included the source code on the API side instead of the nuget and debugged it. When the API is repsonding with the ConfigurationController to a Get request the processing ends up in class DetailsConfigurationRequestHandler -> CreateResponse. In line 95 the parameters dictionary is initialized. The

[2020-07-10 14:31] gkfischer commented on #144
So probably the references to `EsquioConstants.DEFAULT_DEPLOYMENT_NAME` should be replaced by a reference to the default deployment from the database.

[2020-07-10 14:32] unaizorrilla commented on #144
Hi @gkfischer

I use the same a web app using http store in the scenario mentioned!

**This is de problem**, default deployment name is Test you can't change it ( on V3.X this is a feature on V4.X ), this is not allowed on the UI and you shouldn't modify databse directly because the api contains some logic when parameters are added, modified etc

[2020-07-10 14:35] unaizorrilla commented on #144
Yeap, we are working on it for V4 ( probably to be released on August )

[2020-07-10 14:36] gkfischer commented on #144
Hm, having a deployment that is unnecessary doesn't realy solve the problem and is pretty confusing. We are using deployments dev, test, int, demo and prod. To throw in tests as well is not gonna work. How about exposing the default names through config?

[2020-07-10 14:36] unaizorrilla opened #145 "Allow to modify default deployment"
At this momment, default deployment is Tests and this value can't be modified, the UI don't allow it and there are some parts of the code using Test constant!

Could be interesting for users to allow change default deployment on some products and preserve Tests for others!

[2020-07-10 14:43] unaizorrilla commented on #144
Yeap, agree. I will work on this soon and could be happy your feedback on this. Meanwhile on V3 you need to maintain Tests and modify the configuration using the API ( Esquio UI or http request ) but not modifying directly the db!

Thanks

[2020-07-10 14:46] gkfischer commented on #144
Ok, if I can be of any help in testing or whatever I'm glad to help. Cool stuff you build. thanks for the quick help.

[2020-07-10 14:46] #144 closed

[2020-07-10 18:22] Kronos11 opened #146 "Ability to add Esquio UI API to existing ASP.NET Core site"
I would love the ability to add in some extension methods to setup and launch Esquio UI API to an existing ASP.NET Core site.
This would allow those who cannot use docker to get an Http API setup for use in their environment.

See Hangfire for an example
https://github.com/HangfireIO/Hangfire/blob/master/src/Hangfire.AspNetCore/HangfireApplicationBuilderExtensions.cs
I could also work on a PR

[2020-07-13 08:21] unaizorrilla commented on #146
Hi @Kronos11

We can discuss this for Esquio V4!! The branch Kronos11-feature/otherDbStores is already merged on master and master is now v4 branch :-)

[2020-07-13 08:22] unaizorrilla commented on #137
Merged on master, now as 4.0 working version!

[2020-07-13 08:22] #137 closed

[2020-07-13 08:28] unaizorrilla opened #147 "MySql Database provider"
We can add more database providers to Esquio V4 with new generic database provider contributed by @Kronos11 . MySql and Oracle are some of the most important/frequent  db providers for .NET developers.

Adding new provider include following tasks:

 - Add new context for MySql
 - Add migrations and new Design Context Factory
 - Modify docker compose infra to include my sql
 - Include new provider

[2020-07-13 08:43] unaizorrilla opened #148 "Downgrade to .NET Standard 2.0"
At this moment, Esquio is .NET Standard 2.1 with this restrictions to 2.0

 - ValueTask
 - Performance Counters and EventSource code on diagnostics

Some people ask about use Esquio on .NET Standard 2.0 to allow full framework  and other not up to date projects. We can create a multitarget package to allow both ( .NET Standard 2.0 and .NET Standard 2.1 )

Here is some info about multi-target libra

[2020-07-13 08:49] unaizorrilla commented on #148
Branch **features/MultiTarget** is the working branch for this feature!!

[2020-07-13 11:22] #135 closed

[2020-07-13 12:28] unaizorrilla opened #149 "Plot query on dashboard is provider specific"
At this moment, the plot query in dashboard is provider specific ( sql server ) and can't work with new multi provider model on Esquio V4

[2020-07-13 21:23] Kronos11 commented on #146
Sounds good, I see that you've done something similar for the healthchecker project
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/blob/master/src/HealthChecks.UI/Extensions/ApplicationBuilderExtensions.cs

Are you thinking something similar here?

[2020-07-14 09:57] gkfischer opened #150 "ClaimValueToggle fails on multiple claims"
The current implementation of ClaimValueToggle only works properly if only one claim with a type exists in the identity claims.
Although there's a loop over all claimValues, only the first claim get's evaluated, because the result of the evaluation is returned in line 57:
[code]
I don't know if this behaviour is intentional, but if not, the line should probably read:
[code]
Or the whole block coul

[2020-07-14 14:10] risogolo commented on #150
I guess this has been fixed for v2 https://github.com/Xabaril/Esquio/issues/111

[2020-07-14 14:13] unaizorrilla commented on #150
Hi @gkfischer

On wich version ?

[2020-07-14 14:15] risogolo commented on #150
Im from the same team v 3.1.0

[2020-07-14 15:27] unaizorrilla commented on #150
Well,

I review the issue, and well at this moment the behavior is intentional and covered on this tests

https://github.com/Xabaril/Esquio/blob/a056c8abfdcc2dc995a164d1e5755a54c07088e0/tests/UnitTests/Esquio.AspNetCore/Toggles/ClaimValueToggleTests.cs#L94

but i think this behavior is incorrect and i try to fix on 3.1.X, let me work on this!

[2020-07-14 15:50] unaizorrilla commented on #150
Hi all

This is a regregation bug from #111, a new package Esquio.AspNetCore 3.1.1 will be on NuGet!

I'm so sorry for that!

Please close the issue  if new package solve this!

[2020-07-15 01:24] Kronos11 commented on #146
@unaizorrilla Another question is which project would you put the extension methods in? Or do we add a new nuget package?

[2020-07-15 09:42] unaizorrilla commented on #147
Pushed on master for Esquio 4

[2020-07-15 09:42] #147 closed

[2020-07-15 09:42] unaizorrilla commented on #149
Pushed on master for Esquio 4

[2020-07-15 09:42] #149 closed

[2020-07-15 14:47] gkfischer commented on #150
Thanks for the fast reponse and solution

[2020-07-15 14:47] #150 closed

[2020-07-15 21:15] Kronos11 opened #152 "Add in custom Auth Providers"
Again nice to have feature request:

Add in capability to add in custom authentication and authorization providers
ex: AzureAd

[2020-07-16 07:27] unaizorrilla commented on #152
Hi @Kronos11

At this moment, Esquio allow to configure different OpenId providers like Azure Ad, Identity Server, Auth0 etc!

Can you explain more this feature requests?

[2020-07-16 12:35] unaizorrilla commented on #145
Hi @gkfischer

Merged on master (to Esquio V4 ) a new commit that  allow specify default deployment from the UI or API.  You can set your default deployment for each product and this can be different on each product from the UI or HTTP API.

Related with #144

[2020-07-16 12:35] #145 closed

[2020-07-16 15:20] Kronos11 commented on #152
Maybe I just need more documentation to figure out how to use AzureAd
I'm used to using authentication.AddAzureAd()
[code]

[2020-07-16 15:27] unaizorrilla commented on #152
You don’t need azure ad, this is a open Id connect provider and can be configured with AddOpenIdConnect.

[2020-07-16 15:47] Kronos11 commented on #152
awesome, thanks for the assist. This can be closed

[2020-07-17 16:04] Kronos11 commented on #152
Hey @unaizorrilla sorry to bring this back up, but what you put above doesn't seem to quite work.
I see that there is also a BlazorClientSettingsMiddleware that is doing some work as well using the Security:OpenId
So it seems like we must use the AppSettings file to setup security

[2020-07-17 16:23] unaizorrilla commented on #152
Hi @Kronos11

Sorry but I don't understand the issue:

- Security section is used to configure the AddJwtBearer on the HTTP API and also the blazor client.
- BlazorClientSettingsMiddleware is used to avoid issues with appsettings.json as static content, this return the settings from the configuration instead the normal way on blazor reading the static content, this allow to be modified by envars o

[2020-07-17 16:35] Kronos11 commented on #152
Apologies for not being very clear.

Let me explain what I'm running into and we can decide if something needs to be adjusted.

My organization has Azure AD that we use for all of our Authentication. I've primarily used OIDC as follows:

- Client
  Configured to use OIDC as a client
  scope: api-access
- API
   This is configured with delegated permissions for api-access
   authorized with the cli

[2020-07-17 16:48] unaizorrilla commented on #152
You don't need to do anything, except configure property Security:OpenId!

[code]
HTTP API is already configured to use this parameters on AddJwtBearer ( audience is the api scope )

https://github.com/Xabaril/Esquio/blob/1da6f5a9924a08b84c54a4c51e1c3a3ac1f1c9a3/src/Esquio.UI.Host/Startup.cs#L53

and Blazor Client  is also prepared to use OpenId flow

https://github.com/Xabaril/Esquio/blob/1da6f5a

[2020-07-17 16:52] Kronos11 commented on #152
That would be great! thanks @unaizorrilla

[2020-07-17 17:17] Kronos11 commented on #152
I think I figured it out. Looks like I needed to change the ResponseType to id_token

[2020-07-17 17:29] unaizorrilla commented on #152
Well, I have 5 minutes and I go to the pool :-)

First of all create two app registrations on azure ad, for http api and for the client ( esquio ui )

![image](https://user-images.githubusercontent.com/1630008/87813750-c83ccf00-c862-11ea-8ea2-71946389da4f.png)

Esquio.UI.Api is and app registration for the API and expose a scope ( Expose API on Azure AD terminology )

![image](https://user-images.

[2020-07-17 17:34] unaizorrilla commented on #152
A mistake the reply uri by default with blazor add openid is with https://[domain]:[port]/authentication/login-callback

[2020-07-17 17:36] unaizorrilla commented on #152
Just a point more...  /token on azure ad does not allow to configure CORS, in this case a implicit flow instead code can solve this issue!

[2020-07-17 18:22] unaizorrilla commented on #152
And just to sumarize :(

- this only work with implicit flow because AzureAd doesn't allow to configure CORS
- Probably you need to specify different settings for JWT because the token received could contain different values for issuer and audience

I'm so sorry for all comments :-(

[2020-07-17 18:27] Kronos11 commented on #152
Thanks so much for writing up all the instructions, it does help. I think I'm close, but I'm getting the following error right now in the console:
`Microsoft.JSInterop.JSException: An exception occurred executing JS interop: The JSON value could not be converted to System.DateTimeOffset. Path: $.token.expires | LineNumber: 0 | BytePositionInLine: 130.. See InnerException for more details. ---> Sys

[2020-07-17 18:39] unaizorrilla commented on #152
Never see this error :-( can you clear site data and proceed again? I upload a branch samples/Kronos11-AzureAd with my sample working with my AD !

I try to add a new history to simplify different parameters between client and JWT for V4, meanwhile you can customize your UI

[2020-07-17 18:42] unaizorrilla opened #153 "Allow override different parameters between Client Auth and HTTP API Auth"
Well, after discussing on #152 the steps to add Azure AD auth on Esquio UI we discover that could be necesary to allow specify different parameters between client auth and http api auth, on this discussion we discover that Azure AD change the issuer value on access_token and this can break JWT authentication handler!

We try to maintain simplicity for scenarios with Identity Server but allow to be

[2020-07-17 21:34] Kronos11 commented on #152
No matter what I do, I keep getting the above error and it also says:
[code]

[2020-07-17 21:53] unaizorrilla commented on #152
Are you checked out my sample?

Are you configured de subject on settings?

[2020-07-17 22:04] Kronos11 commented on #152
Yes, here's my current config:
[code]
I realize it's slightly different, but I don't have access to customize my AD and only id_token response type works for me

[2020-07-17 22:16] unaizorrilla commented on #152
Well, you need token also on response type! Try to gent this config on AAD

[2020-07-17 23:22] Kronos11 commented on #152
I got the token working correctly, but upon logging in I get an error in Authentication.razor:53
it looks like the Identity is not there for some reason
[code]

[2020-07-17 23:36] Kronos11 commented on #152
Looks like none of the claims are coming across even though I can clearly see them in the token

[2020-07-18 21:57] modesto commented on #131
I've been doing some tests and it appears that the 2nd example is fixed but not the first.

I have also verified that first and second problems also occurs creating a new feature or editing an existing one.

[2020-07-20 15:19] #148 closed

[2020-07-21 16:08] unaizorrilla opened #155 "Configure Code + PKCE for Swagger UI"
At this moment, swagger ui is configured to use API KEY and Implicit flow but new demo.identityserver.io does not allow implicit ( oauth 2.1 + bcp ) and at this moment the only way to test http api using swagger ui is with api key

[2020-07-21 18:33] Kronos11 commented on #152
By the way using the tutorial here:
https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/hosted-with-azure-active-directory?view=aspnetcore-3.1
Everything works correctly, it would be nice for this to be supported in Esquio as it's the microsoft recommended approach.

[2020-07-21 18:59] unaizorrilla commented on #155
Commited on cb46418

[2020-07-21 18:59] #155 closed

[2020-07-21 18:59] unaizorrilla commented on #134
Export is already implemented on cb46418

[2020-07-21 19:39] unaizorrilla commented on #152
Hi @Kronos11

I'm not a fan of specific methods for Azure Ad like AddAzureAdBearer or AddMsalXXX because, well is specific and is not necesary, AzureAD is OpenId Provider and should work with AddOpenIdConnect and AddJwtBearer like any other OpenId providers like Identity Server, Auth0 etc

But well, we have a plan to modify, as I mentioned , the configuration to enable a better experience with Azu

[2020-07-23 12:04] unaizorrilla commented on #152
Hi @Kronos11

I'm working on this the new option on Azure AD for code + pkce on spa

![image](https://user-images.githubusercontent.com/1630008/88284222-57c40100-cced-11ea-9af3-7a60d7ecc4bb.png)

Let working some days to create and scenario and docs!

[2020-07-24 17:44] Kronos11 opened #156 "Unable to create toggles after creating a default deployment name with less than 5 characters"
The validation for deployment name doesn't trigger when creating a new Product
So when going to create a toggle in the product it will always fail

[2020-07-24 17:46] unaizorrilla commented on #156
On v4 (master branch)

[2020-07-24 18:59] unaizorrilla commented on #156
Pushed the deployment name validator on add new product window!

Please close the issue if this solve the problem!

[2020-07-24 20:44] Kronos11 opened #157 "Exception retrieving IFeatureService"
Steps To Reproduce:

1. Create ASP.NET Core App 3.1
2. Install Esquio.HttpStore, Esquio.AspNetCore
2. Register Esquio in ConfigureServices

[code]
3. Attempt to retrieve IFeatureService via dependency injection
4. `An exception of type 'System.NullReferenceException' occurred in Esquio.AspNetCore.dll but was not handled in user code: 'Object reference not set to an instance of an object.'
   at Es

[2020-07-24 20:50] unaizorrilla commented on #157
Packages version? Demos is working well for you?

[2020-07-24 20:59] Kronos11 commented on #157
Packages 3.1.0

[2020-07-24 20:59] Kronos11 commented on #157
And Demos is working well

[2020-07-24 21:19] unaizorrilla commented on #157
Do you have addmvc or addcontrollerwithviews

[2020-07-24 21:23] Kronos11 commented on #157
tried both .AddMvc()
.AddControllersWithViews()
same issue

[2020-07-24 21:26] Kronos11 commented on #157
I condensed the entire thing into a unit test for easy access
[code]

[2020-07-24 21:26] unaizorrilla commented on #157
Can you send me the repro?

[2020-07-24 21:37] Kronos11 commented on #157
See UnitTest above, also working on a repro test in Solution

[2020-07-24 22:07] Kronos11 commented on #157
Digging in a little more, it appears this may be more related to the fact that I'm using this outside of a scope of traditional asp.net core services. ie: I have a job that is running and kicking off, and when it does there is not HttpContext and thus you get this behavior. Ideally there should be a null reference check at the very least.

[2020-07-25 01:57] Kronos11 commented on #156
Fixed!

[2020-07-25 01:57] #156 closed

[2020-07-27 12:45] unaizorrilla commented on #157
Thanks for contribute this!

[2020-07-27 12:45] #157 closed

[2020-07-27 13:09] #134 closed

[2020-07-29 11:48] unaizorrilla commented on #36
Implemented on 77e66e9

[2020-07-29 11:48] #36 closed

[2020-07-30 13:16] unaizorrilla commented on #152
Hi @Kronos11

I'm working on it!!  branch features/azuread! Can you checkout, main interesting points

- We can set the claim type to use for permissions ( email on azure for example instead fixed subjectid)
- We reused the same configuration section

Still, main issue is on index.html because is not posible to register booth required scripts, i'm working on fix this issue

![image](https://user-i

[2020-07-30 14:23] Kronos11 commented on #152
Looking at this

Looking into this!

[2020-07-31 11:24] unaizorrilla commented on #152
Hi @Kronos11

Updated the branch with register dynamic script depending on Azure or not :-) .... thanks @javiercn for your support on this!

Kyle we need to update docs for this scenarios on

https://github.com/Xabaril/Esquio/blob/features/azuread/docs/source/ui/deployment.rst

Can you contribute on this on feature/azuread branch before merging on master?

[2020-07-31 11:33] #152 closed

[2020-07-31 11:33] unaizorrilla commented on #153
Fixed on 152

[2020-07-31 11:33] #153 closed

[2020-08-06 17:21] Kronos11 commented on #136
What else is needed for this? Should we make a way to setup the options via Configuration?

[2020-08-06 20:48] Kronos11 opened #163 "FromToToggle throws exception if no To date specified"
I was expecting that this toggle would set some max date toggle if no date was provided. This unfortunately is not the case and it throws an exception.
`System.Collections.Generic.KeyNotFoundException: The given key 'To' was not present in the dictionary.`

[2020-08-07 09:30] unaizorrilla commented on #163
Well, To is a required parameter and the UI will show a required validation if is not set!

https://github.com/Xabaril/Esquio/blob/485b23ca8c413d1b7386c394a26e9ac0ba85823e/src/Esquio/Toggles/FromToToggle.cs#L14

I see your PR to set default DateTime.MaxValue for To parameter, let me some days (I'm on holidays) to checkout and review

[2020-08-07 09:30] #163 closed

[2020-08-07 09:33] unaizorrilla commented on #136
Well, the problem on this is about EF migrations, if you change the StoreOptions need also  create a new migration to represent these changes!

I'm not sure at this moment how to simplify the customization of the schema without adding more code (migrations ) to do that!

[2020-08-17 13:36] CrahunGit opened #165 "Error while registering custom toggles in different assembly"
Seems it tries to find the custom toggles from the current assembly where the ToggleTypeActivator is insetead of the registered assembly. The only solution I've found is replace the IToggleTypeActivator with my own implementation on the main project.

[2020-08-17 13:49] unaizorrilla commented on #165
Hi @CrahunGit

I update samples (https://github.com/Xabaril/Esquio/blob/master/samples/GettingStarted.AspNetCore.Toggles) to include using custom toggles. But the idea is:

 - Register assembly with toggles

https://github.com/Xabaril/Esquio/blob/400a6399e1a5f1c534f42baaf7c8f68285c8e969/samples/GettingStarted.AspNetCore.Toggles/Startup.cs#L25

-  Configure it using fully qualified names

https://g

[2020-08-17 13:59] CrahunGit commented on #165
You're right. Now it works as expected. I didn't take account about the fully qualified name

[2020-08-17 14:00] #165 closed

[2020-09-02 05:48] kklin opened #166 "Badge for in-browser demo"
We discussed over email that a badge that lets visitors poke around Esquio without downloading anything might be useful.

I'll update this issue once I've implemented the hosting.

[2020-09-02 07:14] unaizorrilla commented on #166
Hi @kklin

Thanks, sounds good!

[2020-09-04 19:14] Kronos11 opened #167 "Web Login only works on fresh instance of browser with no cache"
Authentication doesn't seem to work properly using AAD except if you clear the cache/session data.
Is something being stored that needs to be removed upon a new login attempt?

[2020-09-04 21:31] unaizorrilla commented on #167
On 4.0 preview? Let me check this weekend!

[2020-09-04 23:31] unaizorrilla commented on #167
I'm debugging the issue, the EvaluatingAuthorization on Authentication.razor seems that throw on get my info and a infinite loop is produced! Catching the exception and move to not allowed looks good but I'm testing it

[2020-09-05 12:02] unaizorrilla commented on #167
Hi @Kronos11

Just added a commit that work around this issue ¿can you test it?

I prepare a new compose file for aad to test without debug, please close the issue if all is ok!

https://github.com/Xabaril/Esquio/blob/master/build/docker-compose-demo-with-ui-sqlserver.aad.yml

If works well we can  release a new preview this week and well, test all scenarios to release the 4.0 final version!

Than

[2020-09-05 20:24] Kronos11 commented on #167
Validated it is working as expected! Thanks for the quick fix.

[2020-09-05 21:56] #167 closed

[2020-09-13 22:11] kklin commented on #166
Hi @unaizorrilla!

We’ve put together the first version of the demo badge. There's an example [here](https://github.com/kelda/node-todo):
 the badge links to https://kelda.io/preview-env/?repo=https://github.com/kelda/node-todo.git&service=web&port=8080. All the configuration is in the query params.

<img width="1419" alt="Screen Shot 2020-09-13 at 3 05 59 PM" src="https://user-images.githubuserco

[2020-09-14 07:34] unaizorrilla commented on #166
Hi @kklin

Looks really cool!! I'm playing with this and seem awesome!! I like this to show the Esquio App and UI without downloading anything.!

If there is something to help, please let me know!

Unai

[2020-09-14 16:15] kklin commented on #166
Wonderful thanks!

[2020-09-15 22:26] kklin commented on #166
Hi @unaizorrilla, I'm looking at booting https://github.com/Xabaril/Esquio/blob/48e32a2f42b590df2c112fbdce9a354de573eb74/build/docker-compose-demo-with-ui-mysql.yml and noticed that it builds the images for app and ui locally. Blimp can support building locally but that will obviously mean it'll take longer for the demo environment to boot.

Another option would be to prebuild and push images, and

[2020-09-15 22:45] kklin commented on #166
Also, when I boot the demo and login with alice / alice, I don't see any toggles in the Esquio UI. Is this expected?

<img width="1070" alt="Screen Shot 2020-09-15 at 3 44 36 PM" src="https://user-images.githubusercontent.com/1811185/93272491-72a17780-f76a-11ea-9d21-c1141ca6a213.png">

[2020-09-16 07:22] unaizorrilla commented on #166
Hi @kklin

 - Esquio UI is also on DockerHub https://hub.docker.com/r/xabarilcoding/esquioui but we use build image on local compose to obviously rebuild with changes
 - We can add also esquio app to docker hub and create a new compose using this images to reduce the time to tests what Esquio is ¿sounds good?

[2020-09-16 07:23] unaizorrilla commented on #166
Yeap, Esquio UI is empty at the begining, the demo here is adding MatchScore, DarkMode ( the configured features on App Demo)  to see the changes

[2020-09-16 15:28] kklin commented on #166
Sounds good! I'll play around with it.

Are there any docs on how to get these features to appear in the Esquio UI so that they can be toggled? The only docs I could find on the UI were about installing it

[2020-09-16 15:33] unaizorrilla commented on #166
Nope on docs but I can arrange a short meeting with you to show case it or checkout this videos

https://www.youtube.com/watch?v=qotnVlgYd8c&feature=youtu.be&list=PL1rZQsJPBU2St9-Mz1Kaa7rofciyrwWVx&t=225

https://www.youtube.com/watch?v=VCGZZOFaPL0 (Spanish)

[2020-09-16 17:27] unaizorrilla commented on #166
Hi @kklin

This compose works with public images on docker hub, hope this help

https://github.com/Xabaril/Esquio/blob/master/build/docker-compose-demo-with-ui-sqlserver-with-reference-images.yml

[2020-09-17 16:34] unaizorrilla opened #168 ".NET 5 Migration"
Migrate Esquio to .NET 5 and update all projects ( specially blazor UI ) with new features!

[2020-09-18 15:49] kklin commented on #166
I'll take a look at the videos first but I'll reach out if I can't figure it out. Thanks!

[2020-09-18 17:02] unaizorrilla opened #169 "Allow specify required property on DesignTypeParameterAttribute"
At this moment, the metadata for all toggle properties does not allow to specify "Is Required or Is Optional" and this is very usefull for Esquio UI. Currently, on the UI, the user can set null values on toggle properties ( string or numeric properties ) and this missconfiguration could be confusing for the user on Esquio UI and also reduce the performance on toggle evaluation (due throw exception

[2020-09-25 10:29] #166 closed

[2020-10-15 13:40] unaizorrilla opened #174 "Use new Blazore InputFile"
On .NET 5 Blazor contains a InputFile component, at this moment the Esquio UI already define a InputFile component but will be better to reduce dependencies on custom componentes if the framework already contains these components!

[2020-10-21 16:34] UncleFirefox opened #176 "[Blazor-UI] Authentication error when bootstrapping"
Hi,

I just cloned the repository and trying to bootstrap with `docker-compose -f docker-compose-demo-with-ui-sqlserver.yml up --build`  but when I try to access the UI and do the alice/alice on `demo.identityserver.io` step I keep getting this:

![image](https://user-images.githubusercontent.com/3224718/96749987-c89db680-13cb-11eb-9dab-642823e4dad1.png)

The stack trace I see in docker is:

[code

[2020-10-21 17:21] carlosrecuero commented on #176
Hi,

I have downloaded the repository from scratch and runned the same command than you (docker-compose). However in my case, everything looks well, I have reached http://localhost:8090/ and logged in succesfully.

Could you give us further information or more detail for trying to reproduce it? Can you notice any error message on the docker-compose start trace?

Thank you.

[2020-10-21 17:38] unaizorrilla commented on #176
Can you try again @UncleFirefox ?

Is the same compose we use to create temporary demo with Blimp [Temporary Demo](https://blimpup.io/preview-env/?repo=https://github.com/Xabaril/Esquio&port=app:80&port=ui:80&composeFiles=build/docker-compose-demo-with-ui-sqlserver-with-reference-images.yml)

[2020-10-23 15:04] UncleFirefox commented on #176
I think there are definitely some problems when the computer is behind a proxy... Will reach you next week

[2020-10-23 15:10] UncleFirefox opened #177 "Embed docs in UI"
I think it would be great if we could have some tooltips pointing to the documentation especially explaining terminology. Imagine you have some help button next to the Project or Feature terms and that a balloon pops up explaining a little more. E.g. https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup

We could use the readthedocs api for this https://docs.readthedocs.io/en/stable/g

[2020-11-06 15:55] Kronos11 opened #178 "Use both HttpStore and ConfigurationStore"
Is it possible to use both the HttpStore, but also have an override using the ConfigurationStore?

Use case, a team of developers and one developer wants to try a feature only on their machine without impacting other developers, or is there a better way to handle this?

[2020-11-09 16:04] unaizorrilla opened #179 "Allow to configure internal httpClient on HttpStore"
Some people, like @vgaltes  send some questions about how to configure the internal http client used on HttpStore with Polly, some inner handler or any other customizations.

At this moment, devs can override httpclient configuration adding a new HttpClient with ESQUIO name, but obviously this is a workaround and we need to improve this scenarios. The initial design, to avoid breaking change, is i

[2020-11-09 16:10] unaizorrilla commented on #179
New StoreOptions on Esquio.Http.Store allow to customize the internal HttpClient

https://github.com/Xabaril/Esquio/blob/25991cb8918f409a5cfc8f146212714a0808f3c0/samples/GettingStarted.AspNetCore.Mvc.HttpStore/Startup.cs#L32

https://github.com/Xabaril/Esquio/blob/25991cb8918f409a5cfc8f146212714a0808f3c0/samples/GettingStarted.AspNetCore.Mvc.HttpStore/Startup.cs#L64

A new release build for Esquio

[2020-11-18 10:36] unaizorrilla commented on #179
This feature is done on #182 #178 ddda9ce

[2020-11-18 10:36] #179 closed

[2020-11-30 10:06] #178 closed

[2020-11-30 10:07] unaizorrilla commented on #177
Hi @UncleFirefox

Let me work on this,  and thanks for fill this issue!

[2020-11-30 10:08] unaizorrilla commented on #176
Do you have more info on this?

[2020-11-30 11:04] unaizorrilla commented on #168
First preview is on NuGet

[2020-12-07 08:56] gkfischer opened #183 "Version 4 contains old bug in ClaimValueToggle.cs again"
The bug described in https://github.com/Xabaril/Esquio/issues/111 is contained in V4 again.

[2020-12-07 18:25] gkfischer commented on #183
I copied the old fix and the matching test from V3 in a PR

[2020-12-08 16:53] unaizorrilla commented on #183
Closed with @gkfischer  contribution on #184

[2020-12-08 16:53] #183 closed

[2021-01-14 10:40] #168 closed

[2021-01-14 10:41] #176 closed

[2021-02-17 07:59] luisflsmarques opened #186 "Esquio UI Deployment Issue"
Hi, I have tried to deploy the Esquio UI following instructions on https://esquio.readthedocs.io/en/latest/ui/deployment.html
Unfortunately I am unable to deploy it on Kubernetes. When I run the apply command on the proposed yaml file, the pod gives me the error message below. Any idea how to fix this?
Unhandled exception. System.IO.DirectoryNotFoundException: /root/.nuget/packages/blazorinputfile

[2021-02-17 08:05] luisflsmarques commented on #186
if I run it with the xabarilcoding/esquioui:3.0.0 image the error is the same - just the reference to the missing file changes:
Unhandled exception. System.IO.DirectoryNotFoundException: /root/.nuget/packages/microsoft.aspnetcore.components.webassembly.authentication/3.2.0/staticwebassets/
   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root, ExclusionFilters filters)

[2021-02-17 08:11] unaizorrilla commented on #186
Hi  @luisflsmarques

Can you check if this compose works for you?

https://github.com/Xabaril/Esquio/blob/master/build/docker-compose-demo-with-ui-sqlserver.yml

This is the compose we use to tests esquio ui with different db providers.

[2021-02-17 09:06] luisflsmarques commented on #186
Hi there - I was able to run it with that docker-compose docker-compose-demo-with-ui-sqlserver.yml file. So the key differences are that I am trying to run it on my local kubernetes cluster which connects to a MySql instance. For your information, I was able to also successfully run the Esquio.UI.Host web app from within Visual Studio, and changing the appsettings.json file to connect to MySql ins

[2021-02-17 09:11] unaizorrilla commented on #186
Hi @luisflsmarques

Here is the compose with mysql

https://github.com/Xabaril/Esquio/blob/master/build/docker-compose-demo-with-ui-mysql.yml

However, let me some time ( at the end of my day ) to check this

[2021-02-17 13:41] luisflsmarques commented on #186
this https://github.com/Xabaril/Esquio/blob/master/build/docker-compose-demo-with-ui-mysql.yml works as well. It is just the problem with deployment on Kubernetes... I am trying a few other things in my attempt to isolate the problem.

[2021-02-18 05:53] luisflsmarques commented on #186
Hi there - just to give you a bit of context - I am helping one of my clients to adopt a good feature flag framework / library. I am evaluating whether to go with Esquio (currently my preference given what I have seen) and Microsoft Feature Flag. I believe Esquio to be superior but I need to make it work in a more enterprise like environment in a scalable robust way. The deployment of the UI / HTT

[2021-02-18 06:50] unaizorrilla commented on #186
Can you send us a Yaml sample of your Configuration?

[2021-02-18 08:03] luisflsmarques commented on #186
here is the yaml file:
[esquio-ui-shared.txt](https://github.com/Xabaril/Esquio/files/6001128/esquio-ui-shared.txt)

[2021-02-18 10:27] unaizorrilla commented on #186
We are working on this, it is really bizarre! :-( and non sense

[2021-02-18 11:02] JorTurFer commented on #186
Hi @luisflsmarques ,
I will check this ASAP. This afternoon I think that I can do it.

[2021-02-18 11:05] luisflsmarques commented on #186
Thank you guys - much appreciated. Hope you managed to reproduce the same error as I did :-)

[2021-02-18 12:40] unaizorrilla commented on #186
I just discover the issue, related with docker file, a bit tricky to explain here but build and publish were located on the same folder and this cause the issues related with this static files paths.

we changed the docker file to avoid this problem

RUN dotnet publish -c Release -o /app/publish

A release executing right now and we are changing/updating 5.0.0 and latest tags for esquio ui, please

[2021-02-18 12:40] unaizorrilla commented on #186
Please close the issue if this is resolved!

[2021-02-19 09:55] luisflsmarques commented on #186
Fantastic speed resolving this - thank you guys - much appreciated! IT now works flawlessly on my local kubernetes cluster. I will continue evaluating the rest of the feature management features :-).

[2021-02-19 09:55] #186 closed

[2021-02-19 09:56] luisflsmarques commented on #186
just ensure you update your docs to ensure people dont pull 3.0 but pull instead the latest image.

[2021-02-19 10:02] unaizorrilla commented on #186
Yeap, a PR is welcome also :-)

[2021-02-19 10:02] unaizorrilla commented on #186
Any feedback is welcome!

[2021-02-19 14:01] luisflsmarques opened #187 "How to add custom toggles to Esquio UI list of available toggles"
Hi - how can I add a custom toggle, created following instructions on this link: [doc](https://esquio.readthedocs.io/en/latest/toggles/extensibility.html). The doc explains how to create the toggle but it doesn't explain how to add it to the list of available toggles in Esquio UI.

I will have a look at the source code later to see if I can figure it out.

I thought that one way could be to config

[2021-02-19 14:25] unaizorrilla commented on #187
Hi @luisflsmarques

This is the code that load toggles on the UI

https://github.com/Xabaril/Esquio/blob/master/src/Esquio.UI.Host/Infrastructure/Services/DiscoverToggleTypesService.cs

Basically, load all assemblies with IToggle types defined! You can add assemblies to the execution context with your toogles or override IDiscoverToggleTypesService.cs to extend default assemblies to use.

[code]

[2021-02-22 08:14] luisflsmarques commented on #187
Hi - good morning. Thanks for the advice. I have looked into this over the weekend and I am still puzzled on how to make this work. Let me explain in more detail my use case: I have a custom toggle, which I have created following your guidance by implementing the IToggle interface and I also added the DesignType and DesignTypeParameter attributes. I also have a running container of the UI host on

[2021-02-22 14:52] unaizorrilla commented on #187
Hi @luisflsmarques

The method ```RegisterTogglesFromAssemblyContaining ```  is used to register custom toggles on Client, not on the UI, both are necessary!

You need to override the IDiscoverToggleTypeService on the UI and register your new service, unfortunately is not a way to do that without create your custom image, but we are happy to get a PR on this or open a discussion about the this fea

[2021-02-22 15:49] luisflsmarques commented on #187
Ok I get it, I think... :-) - so I would need to create my own image of the UI to get it updated and running with the knowledge of the new toggle. So out of the box, I would have to 1) Put all custom toggles in some sort of class library which would be shared between my web app and the UI host 2) recompile the UI and create a new image 3) redeploy the new UI host image on Kubernetes and then final

[2021-02-22 15:53] unaizorrilla commented on #187
Hi @luisflsmarques

Yeap, I'm thinking on reduce the dependencies on libraries for the UI to use custom toggles, but, i need some time to implement this!

Dockerfile is here!

https://github.com/Xabaril/Esquio/blob/master/build/UIDockerfile

[2021-02-23 11:43] unaizorrilla commented on #187
Hi @luisflsmarques

We are talking about this feature and our approach for this feature is:

 - Add a new endpoint like MapEsquio on client application that discover and expose custom toggle definitions on this client
 - Add a new feature on the UI to load above toggle definitions for one product

this drop the issue of create different images for your custom toggles and I think improve the experi

[2021-02-23 15:57] luisflsmarques commented on #187
anything that will remove the need to create a new image will definitely be a strong move towards making Esquio an even greater solution. A few questions if I may:
1) When you say a MapEsquio similar endpoint on the **client application** - do you mean - for example my test web app which is using Esquio to manage features?. So in the test app, when it imports Esquio libraries and configures the Es

[2021-02-26 19:48] unaizorrilla commented on #187
Hi @luisflsmarques

1 Yes, that is the idea and I start the work on features/expose-custom-toggle-data-from-app
2 Yes

:-), hope this help to decide to use this product! I try finish these feature soon!

[2021-03-05 15:03] luisflsmarques opened #188 "The constraint reference slug could not be resolved to a type"
Hi - when I tried to run the GettingStarted.AspNetCore.EvaluationSession sample (updated to enable the Esquio routing endpoint), I have started seeing this error (The constraint reference 'slug' could not be resolved to a type) which previously didn't happen (I pulled from the repo today so maybe something may have changed). Stack trace is below. I fixed it temporarily by copying the SlugRouteCons

[2021-03-10 08:26] unaizorrilla commented on #188
Hi @luisflsmarques

Let me investigate the issue and try to reproduce it!

[2021-03-15 20:55] unaizorrilla commented on #188
Closed because no interaction

[2021-03-15 20:55] #188 closed

[2021-03-24 18:59] Kronos11 opened #189 "How to handle migration to .net 5?"
I am having a bit of an issue with migrating to .net 5
Currently all my apps are not on .net 5, if I push up the update to migrate esquio to version 5 and leave my other apps at version 4, I get an error after deploying esquio from my other applications.

Is there any flag I can set to have backwards compatibility so my old apps can remove on esquio version 4 and still use the esquio version 5 htt

[2021-04-21 08:16] luisflsmarques opened #190 "Esquio CLI not connecting to HTTP store"
Hi there - I have installed the CLI and configured the 2 environment variables with the URL and API Key as per the documentation. However when I try to run this simple command:
**dotnet-esquio features list --product-name myproduct**

I get the following error:
**Command execution result is BadRequest, please check validation result:**

The environment variable ESQUIO_URI=http://localhost:8033

[2021-04-22 17:16] unaizorrilla commented on #190
Hi @luisflsmarques

And not validation request information? Let me some time to check this !!

Thanks for submitting!

Unai

[2021-04-24 07:07] luisflsmarques commented on #190
Hi Unai - you are correct, no validation result - it is just empty which I found odd ...

[2021-04-24 19:01] cjaliaga opened #191 "Add Azure App Configuration support to UI Docker image"
**What would you like to be added**:
Adding support for using Azure App Configuration when configuring the Host.UI docker image.

**Why is this needed**:
This way we allow configuring Esquio using the central store instead of passing secrets as environment variables.

[2021-05-07 11:55] stasiadanilova opened #194 "Use ConfigurationStore in case of failure of HttpStore"
could be very useful in case of failure of HttpStore (for example server is down) to have recovery of toggles from the ConfigurationStore

[2021-12-17 14:17] mvelosop opened #198 "Add a default value for a feature flag"
Hi, I add here a bit of context:

We have an application that's deployed to customers on Azure and the feature flags are controlled centrally, so we can enable any feature for any deployment for every customer, and that's one of the strong points of Esquío 😊

However, after a feature has become mainstream, having to enable it for all new customers and deployments becomes a hassle.

In this context

[2022-01-26 16:13] unaizorrilla commented on #194
Ummm  a fallback store is a welcome PR

[2022-01-26 16:14] unaizorrilla commented on #198
Hi!

You can use Archive action on this case, i think could work well!

[2022-01-27 10:35] mvelosop commented on #198
Hi @unaizorrilla, thanks, yeah, it looks like it will work fine. Will most probably work on this after the next release of Sidra. 😊

[2022-03-22 16:21] ismailmayat opened #199 "Load metrics"
Not really an issue more a question. Do you have any metrics on load that esquio can handle when requesting a feature toggle?  Are you  aware of any heavy load usages in production out in the wild?  We currently make use of Launch darkly and its getting pricey.

Esquio looks amazing and does everything we need.  Just need some metrics if available

[2022-03-22 18:08] unaizorrilla commented on #199
Hi @ismailmayat

Yes, we have different counters that you can use to meassure performance and how Esquio is working! Diagnostics are covered on readthedocs, if you have more questions let me know

[2022-04-04 15:15] eyassud opened #200 "Esquio: Warning: DefaultToggleTypeActivator can't resolve the toggle type Esquio.AspNetCore.Toggles.HostEnvironmentToggle."
Hello:

I have the settings below, but at runtime the 'HostEnvironmentToggle' is never loaded and thus always returns false for the feature.

I have a basic VS solution that reproduces the issue: See https://github.com/eyassud/EsquioWeApiDemo.git

"Esquio": {
    "Products": [
      {
        "Name": "default",
        "Features": [
          {
            "Name": "gpi",
            "Enabled": tru

[2022-04-04 15:35] eyassud commented on #200
Yes, the latest .net core version

[2022-04-04 15:37] eyassud commented on #200
<img width="1319" alt="image" src="https://user-images.githubusercontent.com/11150065/161580107-3258145a-8195-442b-9f2f-9d7b4ae8ca34.png">

[2022-04-04 15:49] unaizorrilla commented on #194
Close due no interaction!

[2022-04-04 15:49] #194 closed

[2022-04-04 15:50] eyassud commented on #200
No luck with fully qualified name.
<img width="480" alt="image" src="https://user-images.githubusercontent.com/11150065/161582776-35825896-363a-4da0-826e-60c28d9325e8.png">

[2022-04-04 16:03] eyassud commented on #200
Are you using VS 2022 and .NET 6? Do you have a link to a working example on GitHub?

[2022-04-04 16:11] unaizorrilla commented on #200
Hi!

Just pushed this on MVC Sample

https://github.com/Xabaril/Esquio/blob/master/samples/GettingStarted.AspNetCore.Mvc/appsettings.json

Unai

[2022-04-04 16:21] #200 closed, assigned to unaizorrilla

[2022-04-29 16:20] eyassud opened #201 "Storing features in a database instead of app settings"
My application has a distributed microservices architecture and maintaining multiple appsettings.json is not practical.

Is there documentation that explains how to store Esquio features in a SQL Server database?

[2022-04-29 16:59] unaizorrilla commented on #201
Hi!

You can configure a Database! Here https://github.com/Xabaril/Esquio/blob/master/build/docker-compose-demo-with-ui-sqlserver-with-reference-images.yml you have a sample with a App configured with SQL store and also the UI to manage all the Configuration